.surface-0 {
    -fx-background-color: #1e132e;
}

.button {
    -fx-background-color: #5282e6;
    -fx-text-fill: #f3e1e1;
}

.label{
    -fx-text-fill: #e84d4d;
}

.table-view {
    -fx-background-color: #5282e6;
    -fx-text-fill: #f3e1e1;
}

.text-field {
    -fx-background-color: #5282e6;
    -fx-text-fill: #f3e1e1;
}

.choice-box {
    -fx-background-color: #5282e6;
    -fx-text-fill: #f3e1e1;
}

